*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:linear-gradient(135deg,#07030f,#140022,#080014);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

overflow:hidden;

}

body::before{

content:"";

position:fixed;

width:700px;

height:700px;

background:radial-gradient(#8a2be255,transparent);

filter:blur(100px);

top:-200px;

right:-150px;

animation:move1 12s infinite alternate;

}

body::after{

content:"";

position:fixed;

width:600px;

height:600px;

background:radial-gradient(#00ff8833,transparent);

bottom:-200px;

left:-200
